<style>
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 40px;
  text-align: center;
}

th, td {
  background-color: #96D4D4;
}
</style>
<div>
    <input type="button" value="DISPLAY BOOKS"
    (click)="loadFoods()">
    <br>
    <br>
    <table style="width:80%">
        <tr style=" background-color:pink">
            <th>    BookId  </th>
            <th>    Bname   </th>
            <th>    Author  </th>
            <th>    Geners  </th>
        </tr>
        <tr *ngFor="let book of bookss">
            <td>{{book.bookid}}</td>
            <td>{{book.bname}}</td>
            <td>{{book.author}}</td>
            <td>{{book.geners}}</td>
        </tr>
    </table>
</div>