<div>
    <style>
        table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      height: 40px;
      text-align: center;
    }
    
    th, td {
      background-color: #96D4D4;
    }
    </style>
    <div align:center >
        <input type="button" value="Pefrom Operations on User"
        (click)="loadUsers()">
        <br>
        <div *ngIf=flag style="width:50% ;background-color:burlywood">
            <hr>
            <h2>Update Product</h2>
            <form (ngSubmit)="updateUserName()">
                <input type="number" name="uid" placeholder="userid" [(ngModel)]=uid readonly><br>
                <input type="email" name="email" placeholder="email" [(ngModel)]=email readonly><br>
                <input type="text" name="name" placeholder="name" [(ngModel)]=name ><br>
                <input type="submit" value="Update User">
            </form>
        </div>
        <br>
        <table style="width:80%">
            <tr style=" background-color:pink">
                <th>    UserId  </th>
                <th>    Email   </th>
                <th>    Passward  </th>
                <th>    Name  </th>
                <th>    Delete  </th>
                <th>    Update  </th>
            </tr>
            <tr *ngFor="let uu of user">
                <td>{{uu.uid}}</td>
                <td>{{uu.email}}</td>
                <td>{{uu.passward}}</td>
                <td>{{uu.name}}</td>
                <td><input type="button" value="delete" (click)="deleteUser(uu.uid)"></td>
                <td><input type="button" value="Update" (click)="updateUser(uu)"></td>
            </tr>
        </table>
    </div>
    <h3>{{deleteMsg}}</h3>
    <h3>{{updateMsg}}</h3>
</div>

