<div align="center">
  <h2>BOOK STORE</h2>
<hr>
<div align="right">
  <a href="books">SHOW BOOK</a>  |
  <a href="userlogin">LOGIN</a> |
  <a href="usersignup">SIGNUP</a>  |
  <a href="">LOGOUT</a> 
</div>
<router-outlet></router-outlet>
</div>