<div>
    <style>
        table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      height: 40px;
      text-align: center;
    }
    
    th, td {
      background-color: #96D4D4;
    }
    </style>
     
    <div align:center>
        <input type="button" value="DISPLAY BOOKS"
        (click)="loadBooks()">
        <br>
        <br>
        <div *ngIf=flag style="width:50% ;background-color:burlywood">
            <hr>
            <h2>Update Books</h2>
            <form (ngSubmit)="updateBokName()">
                <input type="number" name="bookid" placeholder="Bookid" [(ngModel)]=bookid readonly><br>
                <input type="text" name="bname" placeholder="BookName" [(ngModel)]=bname ><br>
                
                <input type="text" name="author" placeholder="author" [(ngModel)]=author readonly><br>
                <input type="submit" value="Update Book">
            </form>
        </div>
        <br>
        <br>
        <table style="width:80%">
            <tr style=" background-color:pink">
                <th>    BookId  </th>
                <th>    Bname   </th>
                <th>    Author  </th>
                <th>    Geners  </th>
                <th>    Delete  </th>
                <th>    Update  </th>
            </tr>
            <tr *ngFor="let books of book">
                <td>{{books.bookid}}</td>
                <td>{{books.bname}}</td>
                <td>{{books.author}}</td>
                <td>{{books.geners}}</td>
                <td><input type="button" value="Delete" (click)="deleteProduct(books.bookid)"></td>
                <td> <input type="button" value="Update" (click)="updateBook(books)"></td>
            </tr>
        </table>
        
    </div>
    <h3>{{deleteMsg}}</h3>
    <h3>{{updateMsg}}</h3>
</div>
